	*{
		padding:0;
		margin: 0;
		background:lightblue;
	}
	.main{
		font-family:"微软雅黑";
		width:415px;
		height:385px;
		margin:120px auto;
		border: 1px double;
		border-radius: 3px;
	}
	.nav{
		height:23px;
		margin: 5px auto;
		font-size:18px;
	}
	.content{
		width:395px;
		padding-bottom: 4px;
		margin: 0 auto;
		border: 2px;
	}
	.content input{
		height:80px;
		width:390px;
		margin-left: 1px;
		margin-top: 2px;
		border-radius: 3px;
		line-height: 30px;
		text-align: right;
		font-size: 30px;
		color: #fff;
		background:#F08080;
	}
	.convertion{
		border: 1px solid;
		width:393px;
		height:254px;
		margin: 0 auto;
		font-size: 14px;
		border-radius: 3px;
		display: block;
	}
	.hh{
		font-size: 13px;
		padding-top: 10px;
		float: left;
		color:#000;
	}
	.kk input{
		width: 50px;
		height: 39px;
		border-radius: 5px;
		color: #000;
		text-align: center;
}
	.dd input{
		width: 50px;
		height: 39px;
		background:orange;
		border-radius: 5px;
		color: #fff;
		text-align: center;	
	}
